@st-import StylableDialog from '../stylable-dialog/stylable-dialog.st.css';

.customDialog {
    -st-extends: StylableDialog;
}

.customDialog::title {
    margin-bottom: 0px;
}

.customDialog::button {
    padding: 8px;
    font-size: 18px;
}